*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 body
 {
    font-family: Garamond;
    width: 100%;
    opacity: 0.9;
    background-size: 90%;
    background: linear-gradient(rgba(216, 213, 213, 0.2), rgba(216, 213, 213, 0.8)), url("images/68.png") no-repeat;
    
    
}
.check
{
    width: 150px;
    height: 200px;
    color: black;
    display: hidden;
    margin-left: 150px;
}
.nav-bar a img{
    width: 30px;
    height: 25px;

}
a
{  
    margin: 0 8px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
nav li
{
    list-style-type: none;
    display: inline-block;
}
.logo
{
    padding-left: 50px;
     
}
nav ul
{
    position: absolute;
    right: 55px;
    padding-top: 5px;
}
nav
{
    color: black;
    background-color: #fff;
    border-bottom: 2px solid black;
    display: flex;
    width: 100%;
    padding-top: 11px;
    height: 45px;
    position:absolute;
    top: 0;
    position: fixed;
    box-shadow: 4px 2px 4px grey; 
}

/* Learn how to make navigation bar fixed*/
.container
{
    display: flex;
    margin-top: 47px;
    flex-direction: column; 
}
.home{
    height: 400px;
    padding: 140px 320px;
    padding-right: 400px;
    padding-left: 190px;
    color: #1d252f;

    
    /* background: linear-gradient(rgba(216, 213, 213, 0.2), rgba(216, 213, 213, 0.8)), url("../Images/68.png") no-repeat; */
   
}
.home h1
{
    padding-bottom: 10px;
}
.image
{
    width: 220px;
    height: 230px;
    box-shadow:  5px 6px  #1b222c;
}
.about-me-image
{
    text-align: center;
}
.about-me-image h4
{
    margin-top: 10px;
}
.heading
{
    margin-bottom: 15px;
    /* text-align: center; */
    color: #19222d;
}
.about-me
{
    display: flex;
    padding: 100px 85px;
    background-color: #fff;
    flex-direction: row;
    border-radius: 5px; 
    box-shadow: 2px 4px 4px 4px grey;
}
.about-me-text
{
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 150px;
    font-size: large;
}
var
{
    font-weight: bold;
    font-style: normal;
}

.about-me-text p
{
    margin: 3px;
    
}
.resume
{
    height: 350px;
    width: 100%;
    text-align: center;
    display: flex;
    padding-left: 2%;
}
.header
{
    /* margin-top: 120px; */
    color:#1d252f;
    width: 25%;
    margin-left: 39%;
    padding-left: 8%;
    padding-top: 7%;
    border-bottom: 1.5px solid #1d252f;
    border-bottom-width: thin;
    /* border: 1.5px solid #1d252f;  */
 
}
.qual-1,.qual-2, .qual-3
{
    width: 33.3%;
    height: 290px;
    margin: 40px 45px;
    background-color:#1b222c;
    box-shadow: 2px 4px 4px 2px grey; 
    border: 1px solid black; 
    border-radius: 10px;
}
.resume h1
{
    background-color:#fff;
    width: 32px;
    height: 30px;
    text-align: center;
    margin: 10px auto;
    padding-bottom: 5px;
    color: #1d252f;
    border-radius:15px;
}

.resume p,.resume li, .resume h2
{
    color: #fff;
}
.resume li
{
    margin: 9px;
    list-style-type: none;
    font-family: Cambria;
 
}
.duration
{
    margin-bottom: 20px; 
}
.resume li::before
{
    content: "~ ";
}
.present
{
    font-style:italic;
    font-weight: lighter;
    font-size: 20px;   
}
.skill-set
{
    margin: 30px auto;
    width: 50%;
    
}
.bar
{
    margin-top: 13px;
    display: block;
    height: 6px;
    border-radius: 5px;
    width: 100%;
    background-color: #bec4ce;
    margin-bottom: 40px;
/* 90 80 50 20 */

}

.bar span
{
    float: left;
    border-radius: 5px;
    height: 4px;
    background-color: #1d252e;
}
.html,.css,.jscript,.react
{
    margin-top: 1.5px;
    height: 4px;

}
.html
{
    width: 90%;
    animation-name: html;
    animation-duration: 2s;
}

@keyframes html
{
    0%{ 
        width: 0;
    }
    100%{
        width: 90%
    } 
    
}
.css
{
    width: 90%;
    animation-name: css;
    animation-duration: 2s;
}
@keyframes css
{
    0%{ 
        width: 0;
    }
    100%{
        width: 90%
    } 
    
}
.jscript
{
    width: 50%;
    animation-name: jscript;
    animation-duration: 2s;
}
@keyframes jscript
{
    0%{ 
        width: 0;
    }
    100%{
        width: 50%
    } 
    
}
.react
{
    width: 20%;
    animation-name: react;
    animation-duration: 2s;
}
@keyframes react
{
    0%{ 
        width: 0;
    }
    100%{
        width: 20%
    } 
    
}
.contact-us
{
    margin: 40px auto;
    padding-left: 33.3%;
    width: 100%;
    
}
.contact-us input
{
    margin:  10px auto;
    border-radius: 4px;
    color:#1b222c;
    padding: 15px 20px;
    padding-right: 230px
}
button
{
    background-color: #19222d;
    color:#fff;
    border-radius: 45px;
    border: transparent;
    width: 300px;
    height: 60px;
    font-family: Garamond;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 60px;
}
button:hover
{
    color: #1d252e;
    background-color: #8a9eb6;
    font-weight: bold;
}
.footer
{
    background-color: #19222d;
    color: #fff;
    padding-top: 3%;
    padding-left: 35%;
    padding-bottom: 2%;
    
}
.footer h3
{
    font-weight: bolder;
    font-size:x-large;
}

@media only screen and (max-width:992px) /*when desktop view is resized; */
{
   .home{ 
    height:fit-content;
    width: max-content;
    padding-top: 5%;
    padding-right: 22%;
    padding-left: 12%;
    /* padding-left: 280px;
    padding-bottom: 0; */
   }
   .nav-bar a img{
    width: 5px;
    height: 8px;

}
   .heading{
       max-width: 100%;
       height: auto
   }
   .about-me{
       display: flex;
       flex-direction: column;
       

   }
   .about-me-text{
       margin-top: 20px;
       height: fit-content;
       width: max-content;
       padding-right: 12%;
       padding-left: 32%;
   }
   .resume{
       display: flex;
       flex-direction: column;
       height: max-content;
       padding-left: 27%;
       width: max-content;
       
   }
   .qual-1, .qual-2, .qual-3{
       width: max-content;
       
   }
   .qual-1{
       margin-top: 30px;
   }
   .contact-us{
       width: max-content;
       height: fit-content;
       padding-left: 10%;
   }
   .contact-us input{
       margin-left: -40px;  

   }
   button{
       margin-left: 20px;
       margin-top: 30px;
   }
   
   .footer{
       width: max-content;
       height: fit-content;
       width: 100%;
       padding-left: 25%;
   }
   

} 

/* @media only screen and(max-width: 450px)
{
    .home{
        height: max-content;
        padding-top: 20px;
    }
    .about-me{
        width: max-content;
    }
    .about-me-text{
        width: 100%;
    }
    ul{
        display: none;
    }
    .container{
        max-width: 100%;
    }
    .resume{
        display: flex;
        flex-direction: row;
        max-width: 100%;
        height: max-content;
    }
    .qual-1, .qual-2, .qual-3{
        width: 20px;
        
    }
    .qual-1{
        margin-top: 30px;
    }
} */




  @media only screen and (max-width: 650px) {
    .logo{
        font-size: 16px;
    }
    .logo{
        padding-top: 5px;
    }
    .nav-bar a img{
        width: 5px;
        height: 8px;
    
    }
    ul{
        display: none;
    }
    .home{ 
        height:fit-content;
        width: max-content;
        padding-top: 5%;
        padding-right: 22%;
        padding-left: 12%;
    
    }
    .nav-bar{
        width: max-content;
    }
    .heading{
           max-width: 100%;
           height: auto
   }
    .about-me{
           display: flex;
           flex-direction: column;
           width: max-content;
   }
    .about-me-text{
           margin-top: 20px;
           height: fit-content;
           width: max-content;
           padding-left: 32%;
       }
    .resume{
           display: flex;
           flex-direction: column;
           width: max-content;
           height: max-content;
           padding-left: 27%;
           
   }
    .qual-1, .qual-2, .qual-3{
           width: max-content;
           
    }
    .qual-1{
           margin-top: 30px;
    }
    .contact-us{
           width: max-content;
           height: fit-content;
           padding-left: 10%;
    }
    .contact-us input{
           margin-left: -40px;  
    }
    button{
           margin-left: 20px;
           margin-top: 30px;
    }   
    .footer{
           width: max-content;
           height: fit-content;
           width: 100%;
           padding-left: 25%;
    }
       
}    
    
    

