*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 body
 {
    font-family: Garamond;
    width: 100%;
    opacity: 0.9;
    background-size: 90%;
    background: linear-gradient(rgba(216, 213, 213, 0.2), rgba(216, 213, 213, 0.8)), url("images/68.png") no-repeat;
    
    
}
/* Header styles */
.nav-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 3px 3px grey;
    /* border: 2px solid black; */

}
.title{
    display: flex;
    margin-top: 2%;
    width: 50%;
    /* border: 2px solid red; */
}
.logo{
    margin-right: 6%;
    margin: 1%;
}
.title img{
    width: 40px;
    border-radius: 5px;
    height: 35px;
}
.title a{
    margin: 1%;
}

.lists{
    /* border: 2px solid red; */
    width: 50%;
    display: flex;
    margin-top: 1.5%;
}
.checkbtn{
    color: black;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.lists ul{
    display: flex;
    flex-direction: row;
    margin-right: 1%;
}
.lists li{
    padding: 3% 5%;
    list-style-type: none;
}
.lists a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
}
/*End of header styles*/


/*container-styles*/
.container
{
    display: flex;
    margin-top: -1%;
    flex-direction: column; 
}
.home{
    padding: 13% 20%;
    color: #1d252f;
    /* background: linear-gradient(rgba(216, 213, 213, 0.2), rgba(216, 213, 213, 0.8)), url("../Images/68.png") no-repeat; */
}
.home h1
{
    padding-bottom: 1%;
}
.about-me
{
    display: flex;
    padding: 7% auto;
    background-color: #fff;
    flex-direction: row;
    /* border: 2px solid black; */
    border-radius: 5px; 
    box-shadow: 2px 4px 4px 4px grey;
}
.about-me-image{
    /* border: 2px solid black; */
    padding: 5% 5%;
    width: 50%;
    
}
.about-me h4{
    margin-top: 3%;
    font-size: 1.5rem;
}
.image
{
    width: 50%;
    
    height: 90%;
    box-shadow:  5px 6px  #1b222c;
}

.heading
{
    margin-bottom: 3%;
    /* text-align: center; */
    color: #19222d;
}

.about-me-text
{
    width: 50%;
    padding: 4% 0;
    /* border: 2px solid black; */
    font-size: large;
}
var
{
    font-weight: bold;
    font-style: normal;
}

.about-me-text p
{
    margin: 1%;
    
}
.header
{
    /* margin-top: 120px; */
    color:#1d252f;
    width: 25%;
    margin-left: 39%;
    padding-left: 8%;
    padding-top: 7%;
    border-bottom: 1.5px solid #1d252f;
    border-bottom-width: thin;
    /* border: 1.5px solid #1d252f;  */
 
}
.resume
{
    width: 100%;
    margin-top: 2%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}

.qual-1,.qual-2, .qual-3
{
    width: 26%;
    padding-bottom: 5%;
    background-color:#1b222c;
    box-shadow: 2px 4px 4px 2px grey; 
    border: 1px solid black; 
    border-radius: 10px;
}
.resume h1
{
    background-color:#fff;
    width: 32px;
    height: 30px;
    text-align: center;
    margin: 10px auto;
    padding-bottom: 5px;
    color: #1d252f;
    border-radius:15px;
}

.resume p,.resume li, .resume h2
{
    color: #fff;
}
.resume li
{
    margin: 5%;
    list-style-type: none;
    font-size: 1.2rem;
 
}
.duration
{
    margin-bottom: 2%; 
}
.resume li::before
{
    content: "~ ";
}
.present
{
    font-style:italic;
    font-weight: lighter;
    font-size: 20px;   
}
.skill-set
{
    
    padding: 4% 15%;  
}
.bar
{
    margin-top: 13px;
    display: block;
    height: 6px;
    border-radius: 5px;
    width: 100%;
    background-color: #bec4ce;
    margin-bottom: 40px;
/* 90 80 50 20 */

}

.bar span
{
    float: left;
    border-radius: 5px;
    height: 4px;
    background-color: #1d252e;
}
.html,.css,.jscript,.react
{
    margin-top: 1.5px;
    height: 4px;

}
.html
{
    width: 90%;
    animation-name: html;
    animation-duration: 2s;
}

@keyframes html
{
    0%{ 
        width: 0;
    }
    100%{
        width: 90%
    } 
    
}
.css
{
    width: 90%;
    animation-name: css;
    animation-duration: 2s;
}
@keyframes css
{
    0%{ 
        width: 0;
    }
    100%{
        width: 90%
    } 
    
}
.jscript
{
    width: 50%;
    animation-name: jscript;
    animation-duration: 2s;
}
@keyframes jscript
{
    0%{ 
        width: 0;
    }
    100%{
        width: 50%
    } 
    
}
.react
{
    width: 20%;
    animation-name: react;
    animation-duration: 2s;
}
@keyframes react
{
    0%{ 
        width: 0;
    }
    100%{
        width: 20%
    } 
    
}
.contact-us
{
    margin: 1% 0;
    /* border: 2px solid red; */
    padding: 2% 35%;
    width: 100%;
}
.contact-us input
{
    margin:  3%;
    border-radius: 5px;
    color:#1b222c;
    padding: 3% 8%;
    padding-right: 50%;
    
}
button
{
    background-color: #19222d;
    color:#fff;
    border-radius: 45px;
    border: transparent;
    padding: 5% 0;
    width: 75%;
    font-size: 1.1rem;
    font-family: Garamond;
    font-weight: bold;
    margin: 5% 15%;
}
button:hover
{
    color: #1d252e;
    background-color: #8a9eb6;
    font-weight: bold;
}
.footer
{
    background-color: #19222d;
    color: #fff;
    padding: 3% 31%;
    /* border: 2px solid yellow; */
    
}
.footer h3
{
    font-weight: bolder;
    font-size:x-large;
}

/*
 We are done with normal styling, 
Now let's go responsive!!!! 
*/


/* End-of-container-styles */

/* Media Queries  992px */
@media only screen and (max-width:900px) /*when desktop view is resized; */
{
   
   .nav-bar img{
    width: 35px;
    height: 30px;

}
    .lists ul{
        margin-right: 1%;

   }
   .about-me{
       display: flex;
       flex-direction: column;

   }
   .about-me-image{
       /* border: 2px solid black; */
       width: 100%;
       padding-left: 35%;
       padding-bottom: 10%;
   }
   .about-me-text{
       width: 100%;
       padding-left: 35%;
       /* border: 2px solid black; */
   }
   .resume{
       display: flex;
       flex-direction: column;
       align-content: center;
       width: 100%;
       
   }
   .qual-1, .qual-2, .qual-3{
       margin: 2% 31%;
       width: 45%;
       
   }
   
} 

@media only screen and (max-width: 815px){
    .title{
        width: 40%;

    }
    .lists{
        width: 60%;

    }
    .lists ul{
        margin-right: 3%;
    }
}

  @media only screen and (max-width: 650px) {
    .logo{
        margin-right: 5%;
        font-size: 1.3rem;
    }
    .title{
        padding-top: 1%;
        width: 90%;
    }
    .nav-bar a img{
        width: 35px;
        height: 29px;
    }
    .lists{
        display: none;
        width: 10%;
    }
    .contact-us{
         padding-left: 25%;
    }
     

  }    

